[tools]
node = "lts"
pnpm = "latest"
"npm:@nestjs/cli" = "latest"

[env]
NODE_ENV = "development"
PORT = 3000

# load variables from .env file
_.file = ".env"

# ensure envs are present
POSTGRES_USER = { required = true }
POSTGRES_PASSWORD = { required = true }
POSTGRES_DB = { required = true }
POSTGRES_PORT = { required = true }
POSTGRES_HOST = { required = true }

# construct database URL
POSTGRES_URL = "postgresql://{{env.POSTGRES_USER}}:{{env.POSTGRES_PASSWORD}}@{{env.POSTGRES_HOST}}:{{env.POSTGRES_PORT}}/{{env.POSTGRES_DB}}"
